@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;577;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: block;
}

body * {
    box-sizing: border-box;
    outline: 0 none;
}

h1 {
    font-size: 1.7rem;
    font-variant: small-caps;
    margin: 15px 0 -5px 0;
    padding: 0 14px;
}

h2 {
    font-size: 18px;
}

img {
    color: #fff;
    display: block;
    height: 160px;
    object-fit: cover;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}

img[src=""]::after, img:not([src])::after, img.error::after {
    background: #000;
    border: 0 none;
    border-radius: 8px;
    box-sizing: border-box;
    content: "Imagen no disponible";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 2;
}

/* Definición del loader*/

.loader-container{
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 99;
}

/* Estilos de la imagen de fondo. Las estrellas */
.bg{ background: #000; width: 100%; height: 100%; position: fixed; }
.bg::before {
    content: "";
    left: 1em;
    top: 1em;
    width: 2px;
    height: 2px;
    position: fixed;
    border-radius: 10em;
    box-shadow: 88vw 65vh  rgba(255, 255, 255, 0.94), 95vw 46vh  rgba(255, 255, 255, 0.79), 73vw 40vh  rgba(255, 255, 255, 0.72), 76vw 89vh  rgba(255, 255, 255, 0.41), 79vw 45vh  rgba(255, 255, 255, 0.93), 75vw 57vh  rgba(255, 255, 255, 0.51), 3vw 23vh  rgba(255, 255, 255, 0.48), 74vw 30vh  rgba(255, 255, 255, 0.47), 55vw 20vh  rgba(255, 255, 255, 0.75), 40vw 30vh  rgba(255, 255, 255, 0.39), 94vw 38vh  rgba(255, 255, 255, 0.77), 18vw 12vh  rgba(255, 255, 255, 0.52), 41vw 32vh  rgba(255, 255, 255, 0.36), 86vw 88vh  rgba(255, 255, 255, 0.21), 27vw 74vh  rgba(255, 255, 255, 0.32), 77vw 41vh  rgba(255, 255, 255, 0.4), 1vw 82vh  rgba(255, 255, 255, 0.78), 51vw 94vh  rgba(255, 255, 255, 0.36), 70vw 50vh  rgba(255, 255, 255, 0.37), 25vw 47vh  rgba(255, 255, 255, 0.91), 97vw 93vh  rgba(255, 255, 255, 0.5), 24vw 93vh  rgba(255, 255, 255, 0.28), 21vw 99vh  rgba(255, 255, 255, 0.58), 3vw 73vh  rgba(255, 255, 255, 0.64), 83vw 69vh  rgba(255, 255, 255, 0.67), 65vw 75vh  rgba(255, 255, 255, 0.42), 86vw 79vh  rgba(255, 255, 255, 0.34), 6vw 1vh  rgba(255, 255, 255, 0.7), 85vw 28vh  rgba(255, 255, 255, 0.42), 70vw 19vh  rgba(255, 255, 255, 0.93), 36vw 32vh  rgba(255, 255, 255, 0.64), 53vw 57vh  rgba(255, 255, 255, 0.81), 74vw 9vh  rgba(255, 255, 255, 0.64), 99vw 61vh  rgba(255, 255, 255, 0.99), 36vw 87vh  rgba(255, 255, 255, 0.28), 63vw 31vh  rgba(255, 255, 255, 0.25), 32vw 42vh  rgba(255, 255, 255, 0.76), 30vw 37vh  rgba(255, 255, 255, 0.66), 64vw 97vh  rgba(255, 255, 255, 0.92), 32vw 58vh  rgba(255, 255, 255, 0.65), 63vw 8vh  rgba(255, 255, 255, 0.85), 78vw 21vh  rgba(255, 255, 255, 0.35), 21vw 79vh  rgba(255, 255, 255, 0.83), 39vw 91vh  rgba(255, 255, 255, 0.89), 11vw 92vh  rgba(255, 255, 255, 0.65), 6vw 7vh  rgba(255, 255, 255, 0.44), 19vw 76vh  rgba(255, 255, 255, 0.57), 40vw 51vh  rgba(255, 255, 255, 0.46), 33vw 36vh  rgba(255, 255, 255, 0.98), 36vw 78vh  rgba(255, 255, 255, 0.24), 64vw 76vh  rgba(255, 255, 255, 0.21), 38vw 99vh  rgba(255, 255, 255, 0.38), 13vw 31vh  rgba(255, 255, 255, 0.97), 48vw 92vh  rgba(255, 255, 255, 0.34), 86vw 5vh  rgba(255, 255, 255, 0.88), 36vw 94vh  rgba(255, 255, 255, 0.77), 39vw 77vh  rgba(255, 255, 255, 0.22), 83vw 78vh  rgba(255, 255, 255, 0.89), 35vw 24vh  rgba(255, 255, 255, 0.61), 90vw 8vh  rgba(255, 255, 255, 0.9);
}
.bg::after {
    content: "";
    position: fixed;
    left: 1vw;
    top: 1vh;
    width: 0;
    height: 0;
    box-shadow: 18vw 82vh 1vw 1vw #000, 74vw 14vh 1vw 2vw #000, 17vw 81vh 1vw 2vw #000, 44vw 25vh 1vw 0vw #000, 4vw 85vh 0.5vw 1vw #000, 93vw 9vh 1vw 1vw #000, 12vw 21vh 2vw 0vw #000, 78vw 80vh 2vw 3vw #000, 67vw 52vh 3vw 2vw #000, 87vw 91vh 0vw 0vw #000, 30vw 78vh 3vw 3vw #000, 13vw 38vh 1vw 1vw #000, 25vw 83vh 2vw 2vw #000, 63vw 48vh 3vw 3vw #000, 44vw 60vh 1vw 3vw #000, 65vw 75vh 0.5vw 1vw #000, 92vw 48vh 1vw 3vw #000, 30vw 17vh 0vw 1vw #000, 31vw 22vh 0vw 0vw #000, 40vw 37vh 0vw 2vw #000, 92vw 99vh 3vw 3vw #000, 3vw 87vh 1vw 3vw #000, 97vw 58vh 2vw 2vw #000, 85vw 8vh 1vw 3vw #000, 47vw 79vh 3vw 0vw #000, 5vw 37vh 1vw 0vw #000, 32vw 69vh 3vw 1vw #000, 72vw 71vh 2vw 3vw #000, 2vw 94vh 2vw 2vw #000, 81vw 35vh 2vw 2vw #000, 5vw 76vh 1vw 1vw #000, 70vw 9vh 2vw 1vw #000, 34vw 12vh 0vw 3vw #000, 25vw 21vh 3vw 1vw #000, 62vw 19vh 0vw 0vw #000, 56vw 23vh 0vw 3vw #000, 16vw 95vh 0vw 2vw #000, 72vw 34vh 2vw 2vw #000, 36vw 92vh 2vw 3vw #000, 38vw 88vh 0vw 0vw #000, 71vw 62vh 0vw 2vw #000, 82vw 58vh 2vw 3vw #000, 82vw 69vh 3vw 3vw #000, 84vw 52vh 1vw 3vw #000, 78vw 88vh 1vw 1vw #000, 52vw 81vh 1vw 2vw #000, 18vw 12vh 1vw 2vw #000, 99vw 29vh 3vw 0vw #000, 21vw 31vh 0vw 1vw #000, 50vw 63vh 3vw 0vw #000;
    border-radius: 100em;
    animation: twinkling1 50s linear infinite;
}

.loader {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 2px -20px 30px 5px rgb(18, 18, 18) inset, 
                0px 0px 10px 0px rgb(64, 64, 64);
    background: linear-gradient(to top, #fff 0%, transparent 50%);
    animation: spin 2s infinite linear;
    margin: 0 auto;
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}

.loader:before {
    display: block;
    content: '';
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    background: linear-gradient(to top, #000 50%, transparent 100%);
    border-radius: 50%;
}

.loader-container label{
    color: #fff;
    font-size: 1.16rem;
    font-weight: bold;
    font-family: "Megrim", sans-serif;
    display: block;
    width: 100px;
    height: auto;
    text-align: center;
    line-height: 100px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    z-index: 1;
}

.saturn {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    background: linear-gradient(#807770, 
                                #b5ac9f 35%,
                                #b3a99d 40%,
                                #6f655f 85%);
    border-radius: 50%;
    left: 85vw;
    top: 20vh;
    box-shadow: -4px 3px 5px 0 rgba(0, 0, 0, 0.5) inset;
}

.saturn:before {
    content: "";
    width: 20px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #555;
    border-right-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -20px;
    left: -3px;
    transform: rotateX(83deg) rotateY(166deg);
    box-shadow: 0px 2px 0px 2px #777, 
                0 20px 0 1px #aaa,
                0 20px 0 8px #bbb,
                0 20px 0px 11px #222,
                0 20px 0 15px #666; 
}

.jupiter{
    width: 25px;
    height: 25px;
    display: block;
    position: fixed;
    top: 47%;
    left: 24%;
    background: linear-gradient(#6f5139 0%, 
                                #8c5115 15%,
                                #f7d8c8 35%,
                                #d4b89e 35%,
                                #986e45 45%,
                                #dabcb1 55%,
                                #825217 75%,
                                #dca881 90%);
    border-radius: 100px;
    transform: rotate(-3deg);
    filter: saturate(0.66);
    box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.5) inset;
}

.jupiter::after {
    content: "";
    position: absolute;
    height: 24%;
    width: 40%;
    top: 66%;
    left: 40%;
    background: radial-gradient(closest-side, #6f5139 50%, #c3a688 100%);
    border-radius: 50%;
}

.mercury{
    background: linear-gradient(#818190, 
                                #9fa6b5 35%,
                                #9092a7 40%,
                                #7a7b8a 85%);
    border-radius: 100px;
    width: 16px;
    height: 16px;
    display: block;
    position: fixed;
    top: 84%;
    left: 80%;
    box-shadow: -3px -2px 4px 0 rgba(0, 0, 0, 0.5) inset;
}

.mars{
    background-color: #da6e7e;
    background-image: radial-gradient(ellipse farthest-corner at 64% 15%, 
                                      rgba(0,0,0,0.1) 8%,
                                      transparent 25%), 
                      radial-gradient(ellipse farthest-corner at 54% 25%,
                                      rgba(0,0,0,0.22) 8%,
                                      transparent 25%),
                      radial-gradient(ellipse farthest-corner at 44% 11%,
                                      rgba(0,0,0,0.2) 8%,
                                      transparent 25%),
                      radial-gradient(ellipse farthest-corner at 34% 26%,
                                      rgba(0,0,0,0.1) 8%,
                                      transparent 25%),
                      radial-gradient(ellipse farthest-corner at 24% 35%, 
                                      rgba(0,0,0,0.1) 8%,
                                      transparent 25%),
                      radial-gradient(ellipse farthest-corner at 14% 25%, 
                                      rgba(255,255,255,0.1) 8%,
                                      transparent 25%),
                      radial-gradient(ellipse farthest-corner at 84% 75%, 
                                      rgba(0,0,0,0.1) 8%,
                                      transparent 25%),
                      radial-gradient(ellipse farthest-corner at 74% 75%, 
                                      rgba(0,0,0,0.1) 8%,
                                      transparent 25%),
                      radial-gradient(ellipse farthest-corner at 64% 81%, 
                                      rgba(0,0,0,0.1) 8%,
                                      transparent 25%),
                      radial-gradient(ellipse farthest-corner at 54% 66%, 
                                      rgba(0,0,0,0.1) 8%,
                                      transparent 25%),
                      radial-gradient(ellipse farthest-corner at 44% 75%, 
                                      rgba(0,0,0,0.1) 8%,
                                      transparent 25%),
                      radial-gradient(ellipse farthest-corner at 34% 75%, 
                                      rgba(0,0,0,0.2) 8%,
                                      transparent 25%),
                      radial-gradient(circle farthest-side at 0% 0%, 
                                      rgba(255, 255, 255, 0.25) 0%,
                                      rgba(0, 0, 0, 0.2) 100%);
    border-radius: 100px;
    width: 20px;
    height: 20px;
    display: block;
    position: fixed;
    top: 37%;
    left: 60%;
    box-shadow: -2px 1px 4px 0 rgba(0, 0, 0, 1) inset,
                4px -4px 3px 3px rgba(0,0,0,0.1) inset, 
                1px -1px 3px 1px rgba(255, 255, 255, 0.1) inset;
    filter: saturate(0.5) contrast(1.2) brightness(1.4);
}

.shooting-star {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, 
                                          rgba(255,255,255,0) 100%);
    border-radius: 0 100% 100% 0;
    position: absolute;
    left: -100%;
    top: 15%;
    height: 3px;
    width: 78px;
    transform: rotate(188deg);
    animation: shoot 3s ease-out;
    z-index: 999;
}

@keyframes spin {
    0% { transform: rotate(0deg); 
         box-shadow: 2px -20px 30px 5px rgb(18, 18, 18) inset, 
                     0px 0px 10px 0px rgb(64, 64, 64); }
   50% { transform: rotate(180deg); 
         box-shadow: 2px -20px 30px 5px rgb(18, 18, 18) inset,
                     1px 2px 15px 2px rgb(96, 96, 96); }
  100% { transform: rotate(360deg); 
         box-shadow: 2px -20px 30px 5px rgb(18, 18, 18) inset, 
                     0px 0px 10px 0px rgb(64, 64, 64); }
}


@keyframes twinkling {
    0%   { top: -50%; left: -50%; }
    50%  { top: 80%; left: 80%; }
    100% { top: -50%; left: -50%; }
}

@keyframes shoot { 100% { left: 100%; top: 88%; opacity: 0; } }

/* Fin de la definición del loader */

.logotipo {
    font-family: 'Megrim', cursive;
    font-size: 29px;
    line-height: 48px;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.66);
    display: inline-block;
    width: 200px;
}

.active a {
    color: #bbb;
    pointer-events: none;
}

body>header {
    color: #fff;
    display: block;
    height: 0;
    position: fixed;
    top: 0;
    transition: all 0.5s ease;
    width: 100%;
    z-index: 2;
}

body>header.fixed {
    background: #000;
    height: 48px;
    z-index: 99;
}

body>header nav {
    display: block;
    float: right;
    width: calc(100% - 200px);
}

body>header nav ul {
    float: right;
    list-style: none;
}

body>header nav ul li:first-child {
    display: none;
}

body>header nav ul li {
    width: auto;
    display: inline-block;
    padding: 0 8px;
}

body>header ul li a {
    color: #fff;
    display: block;
    margin: 0;
    text-decoration: none;
}

body nav button {
    background: transparent;
    border: 0 none;
    cursor: pointer;
    display: none;
    height: 32px;
    position: fixed;
    right: 10px;
    top: 5px;
    transition: all 0.5s ease;
    width: auto;
}

body nav button i {
    background: #fff;
    border-radius: 5px;
    display: block;
    height: 4px;
    margin: 5px 0;
    transition: all 0.25s ease;
    width: 28px;
}

body nav button span {
    color: #fff;
    float: left;
    font-size: 15px;
    display: block;
    line-height: 32px;
    margin: 0 5px;
    width: 32px;
}

body.menu-open header {
    z-index: 9;
}

body.menu-open nav button {
    margin: 0;
    padding: 0;
    right: 4px;
    top: 6px;
}

body.menu-open nav button span i:nth-child(1) {
    transform: rotate(-45deg);
    top: 9px;
    position: relative;
}

body.menu-open nav button span i:nth-child(2) {
    transform: rotate(45deg);
}

body.menu-open nav button span i:nth-child(3) {
    opacity: 0;
}

@media screen and (max-width: 767px) {
    body>header {
        background-color: #000;
    }
    body>header ul {
        background: black;
        display: block;
        height: 100vh;
        margin-top: 0;
        overflow: hidden;
        padding: 0 0 0 0;
        position: fixed;
        right: 0;
        top: 0;
        transition: all 0.5s ease;
        white-space: nowrap;
        width: 0;
    }
    body.menu-open>header ul {
        width: 250px;
    }
    body>header nav button {
        border: 0 none;
        color: #fff;
        cursor: pointer;
        display: block;
        float: right;
        font-size: 30px;
        line-height: 48px;
        transition: all 0.5s ease;
        width: 40px;
        z-index: 9;
    }
    body>header nav ul li:first-child {
        display: inherit;
    }
    body>header nav ul li {
        display: block;
        padding: 10px 8px;
        width: 100%;
    }
    body>header nav ul li h3 {
        margin-top: 4px;
    }
}

/* BANNER */

.banner {
    color: #fff;
    background: url(../img/orion-nebula-640.jpg) no-repeat left top / cover;
    border-bottom: 0 none;
    display: block;
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
}

.banner b {
    display: block;
    font-size: 1.7rem;
    padding-top: 45vh;
    width: 100%;
}

.banner p {
    display: block;
    width: 100%;
}

@media (min-width: 800px) {
    .banner {
        background-image: url(../img/orion-nebula-1280.jpg);
    }
}

@media (min-width: 1366px) {
    .banner {
        background-image: url(../img/orion-nebula-1920.jpg);
    }
}

@media (min-width: 2000px) {
    .banner {
        background-image: url(../img/orion-nebula-2560.jpg);
    }
}

/* MAIN */

main {
    width: 75%;
    display: inline-block;
}

main article {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    float: left;
    height: auto;
    margin: 10px;
    padding: 10px;
    width: calc(50% - 20px);
}

main article p {
    margin: 0;
    min-height: 100px;
    padding: 0 5px 5px 5px;
    text-align: justify;
    vertical-align: top;
    width: 100%;
}

main .flash {
    background: #000;
    border: 1px solid #222;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: normal !important;
    overflow: hidden;
    padding: 5px 10px 5px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

main .flash::before {
    background: #000;
    border-radius: 50%;
    box-shadow: 0 0 6px 0 #000, 0 0 3px 0 rgba(0, 0, 0, 0.3) inset, 0 0 5px 0 rgba(0, 0, 0, 0.6) inset;
    content: "";
    display: block;
    left: 5px;
    height: 4px;
    position: absolute;
    top: 12px;
    transition: all 1s ease-in-out;
    width: 10px;
}

main .flash:hover::before {
    background: linear-gradient(90deg, #ffffff00 0%, #ffffffff 100%);
    box-shadow: 0 0 6px 0 #fff, 0 0 3px 0 #eee inset, 5px 0 3px 0 rgba(253, 168, 168, 0.5) inset;
    content: "";
    left: 100%;
    opacity: 0;
    width: 100%;
}

@media screen and (max-width: 767px) {
    main {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    main article {
        margin: 5px;
        border: 0 none;
        width: calc(100% - 10px);
    }
}

/* Barra lateral */

aside {
    display: block;
    float: right;
    margin: 10px 10px 0px 0px;
    padding: 10px;
    width: calc(25% - 10px);
}

aside h2 {
    color: #000;
    font-size: 1.8rem;
    font-variant: small-caps;
    line-height: 40px;
    margin: 10px 0 10px 0;
    text-shadow: none;
}

aside ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

aside ul li {
    display: inline-block;
    padding: 5px 8px;
    width: 100%;
}

aside ul li a {
    color: #000;
    display: block;
    margin: 0;
    text-decoration: none;
}

aside ul+h2 {
    margin-top: 30px;
    display: inline-block;
}

@media screen and (max-width: 767px) {
    aside {
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    aside .container {
        width: auto;
        display: inline-block;
    }
    aside ul li {
        padding: 5px 10px;
        width: auto;
    }
}

/* Pie de página */

footer {
    background: linear-gradient(45deg, #222, #000);
    color: #000;
    display: inline-block;
    font-size: 1.0rem;
    margin: 0;
    padding: 0 10px;
    width: 100%;
}

footer ul:nth-child(2) {
    float: right;
}

footer ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: right;
    width: calc(100% - 200px);
}

footer div {
    border-top: 1px solid #ffffff33;
    margin: 0;
    padding: 0;
}

footer div ul {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

footer ul li {
    display: inline-block;
    padding: 0 10px;
    line-height: 52px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #ccc;
    transform: translateY(-0.25em);
}

@media screen and (max-width: 767px) {
    footer ul {
        text-align: center;
        width: auto;
    }
}

@media screen and (max-width: 480px) {
    footer ul {
        text-align: center;
        width: 100%;
    }
    footer div ul li {
        width: 100%;
    }
    footer span.logotipo {
        text-align: center;
        width: 100%;
    }
}

/* **************************************************** */

/* Estilos para páginas con formato de 1 única columna  */

/* **************************************************** */

.one-column-page aside, .one-column-page .banner {
    width: 0;
    height: 0;
    overflow: hidden;
}

.one-column-page main {
    width: 100%;
}

.one-column-page main article {
    border: 0 none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    position: relative;
    top: 0;
    left: 0;
}

.one-column-page main article>header>img {
    height: 250px;
}

.one-column-page main article>div {
    padding: 10px;
}

.one-column-page main article>div p {
    float: none;
    margin: 10px 0;
    min-height: auto;
}

/* ************************************************ */

/* Sección de referencias                           */

/* ************************************************ */

.references h2 {
    background: linear-gradient(90deg, #fff, #f0f0f0);
    border-radius: 0 100px 100px 0;
    padding: 5px 0;
    text-align: left;
}

.references p {
    text-align: left;
}

.references p a {
    color: #333;
}

/* ************************************************ */

/* Sección de relacionados                          */

/* ************************************************ */

.related h2 {
    background: linear-gradient(90deg, #fff, #f0f0f0);
    border-radius: 0 100px 100px 0;
    padding: 5px 0;
    text-align: left;
}

.related p {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    display: inline-block;
    line-height: 24px;
    padding: 0;
    text-align: left;
    width: auto;
}

.related p a {
    color: #333;
    display: block;
    font-weight: bold;
    padding: 0 5px;
    text-decoration: none;
}

.relateda::before {
    content: "";
    width: 10px;
    height: 10px;
    margin: 0 5px 0 0;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    background: #f0f0f0;
}

/* ************************************************ */

/* Diseño de Tablas                                 */

/* ************************************************ */

table {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-spacing: 2px;
    margin: 10px 0;
}

table caption {
    background: #000000;
    color: #fff;
    font-size: 1.0rem;
    font-weight: bold;
    line-height: 1.5;
    padding: 0;
    text-transform: uppercase;
}

table td, table th {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-spacing: 0;
    font-size: 1rem;
    padding: 5px;
    text-align: left;
    margin: 2px 0;
    white-space: nowrap;
}

@media screen and (max-width: 1280px) {
    table {
        display: block;
        overflow-x: auto;
    }
}

@media screen and (max-width: 800px) {
    thead {
        display: none;
    }
    tr td:first-child {
        background: #f0f0f0;
        font-weight: bold;
    }
    tbody td {
        border: 0 none;
        display: block;
        text-align: right;
    }
    tbody td img {
        width: 100% !important;
    }
    tbody td:before {
        content: attr(data-field);
        display: block;
        float: left;
        font-weight: bold;
        padding: 0 10px 0 0;
        text-align: left;
        width: auto;
    }
}

/* ************************************************ */

/* Práctica 7: Formularios de login y registro      */

/* ************************************************ */

.toLeftSide {
    float: left !important;
}

.toRightSide {
    float: right !important;
}

input {
    border: 0 none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    width: 100%;
}

input:not([type=checkbox]):focus+span, label input:valid:not([type="checkbox"])+span {
    font-weight: 900;
    top: 0;
}

label {
    color: #000;
    display: block;
    font-size: 0.9rem;
    margin: 20px 0 0 0;
    position: relative;
}

label input:not([type="checkbox"])+span {
    font-size: 1rem;
    font-weight: 300;
    left: 10px;
    position: absolute;
    top: 20px;
    transition: all 0.3s ease-in-out;
}

input[type="checkbox"] {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    margin-right: 5px;
    position: relative;
    top: 8px;
    transition: all 180ms linear;
    width: 18px;
}

input[type="checkbox"]:before {
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    height: 16px;
    transition: all 180ms linear;
    width: 16px;
}

input[type="checkbox"]:checked:before {
    background: linear-gradient(45deg, #000 0%, #212121 150%);
    border: 1px solid #111;
}

input[type="checkbox"]:after {
    border: 2px solid #fff;
    border-right: 0;
    border-top: 0;
    content: '';
    display: block;
    height: 4px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    transition: all 180ms linear;
    width: 12px;
}

input[type="checkbox"]:checked:after {
    opacity: 1;
}

input[type="checkbox"]+span {
    color: #333;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.00933333em;
    line-height: 24px;
    margin: 0;
}

.flash.transparent {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0.75));
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: #000;
    display: inline-block;
    margin: 0 auto;
    max-width: 250px;
    padding: 8px 10px;
    width: 80%;
}

.flash.transparent::before {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.0));
    box-shadow: none;
}

.flash.link::before {
    opacity: 0;
}

.login main a, main a:active, main a:visited, main a:focus {
    color: #000;
    font-size: 0.95rem;
    font-weight: bold;
}

.login {
    background: #000;
    overflow-y: scroll;
}

.login main {
    width: 100%;
}

.login main article {
    border: 0 none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.login main article>header>img {
    height: 100vh;
    width: 100%;
    margin: 0;
    transition: all 0.33s ease;
}

.login main article p {
    min-height: auto;
}

.login main .flash {
    padding: 5px 10px;
}

.login fieldset {
    background: repeating-linear-gradient(0deg, rgb(255, 255, 255) 3px, rgb(252, 252, 252) 6px);
    background-position: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 0 none;
    border-radius: 5px;
    bottom: auto;
    display: block;
    height: auto;
    margin: 5px auto -10px;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    left: 0;
    top: 0;
    transition: all 0.33s ease;
    width: 100%;
    z-index: 0;
}

.login header .actions {
    display: block;
    position: absolute;
    top: 42vh;
    text-align: center;
    transition: all 0.33s ease;
    width: 100%;
}

.login form .actions {
    display: inline-block;
    margin-top: 40px;
    width: 100%;
}

.login header h1 {
    color: #fff;
    font-family: 'Megrim', sans-serif;
    font-size: 2rem;
    font-variant: small-caps;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 55%;
    width: 100%;
    transition: all 770ms cubic-bezier(0.51, 0.04, 0.12, 0.99);
}

.login header h1+p {
    color: #fff;
    font-size: 1.1rem;
    font-variant: small-caps;
    left: 0;
    position: absolute;
    text-align: center;
    top: calc(55% + 32px);
    transition: all 770ms cubic-bezier(0.51, 0.04, 0.12, 0.99);
    width: 100%;
}

.login h2 {
    color: #aaa;
    display: block;
    float: none;
    font-family: 'Turret Road', monospace;
    font-size: 21px;
    margin-left: 10px;
    margin-top: 0px;
}

/* Este es el botón de cerrar el formulario abierto */

button.close {
    background: linear-gradient(45deg, #000 0%, #212121 150%);
    border-radius: 3px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.login.showing-signin form:nth-child(1) {
    display: block;
}

.login.showing-signin form:nth-child(2) {
    display: none;
}

.login.showing-signup form:nth-child(1) {
    display: none;
}

.login.showing-signup form:nth-child(2) {
    display: block;
}

.login.showing-signin main article>header img, .login.showing-signup main article>header img {
    height: 250px;
}

.login.showing-signin fieldset, .login.showing-signup fieldset {
    border: 10px solid rgba(255, 255, 255, 0.2);
    height: auto;
    margin-top: -25px;
    min-height: calc(100vh - 250px);
    max-height: 1000px;
    padding: 10px;
    width: calc(100% - 10px);
}

.login header .actions {
    top: calc(50% - 24px);
}

.login header .actions button {
    margin: 0 5vw 10px 5vw;
    width: 40vw;
    float: left;
}

.login.showing-signin .login header h2, .login.showing-signup .login header h2, .login.showing-signin .login header h2+p, .login.showing-signup .login header h2+p {
    width: 0;
    overflow: hidden;
}

@media screen and (min-width: 640px) {
    .login header .actions button {
        width: inherit;
        float: none !important;
    }
}

@media screen and (min-width: 768px) {
    .login header .actions button {
        margin-bottom: 0;
    }
    .login fieldset {
        max-width: 80%;
    }
}

/* ************************************************ */

/* Práctica 8: Formulario de contactar              */

/* ************************************************ */

.contact {
    background: #000;
    overflow-x: hidden;
}

.contact main {
    width: 100%;
}

.contact main article {
    border: 0 none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.contact main article>header>img {
    height: 250px;
    margin: 0;
    width: 100%;
}

.contact main article p {
    min-height: auto;
}

.contact fieldset {
    background: repeating-linear-gradient(0deg, rgb(0, 0, 0) 1px, rgb(32, 32, 32) 2px, rgb(16, 16, 16) 3px);
    background-position: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    bottom: auto;
    box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
    display: block;
    margin: -25px auto 0 auto;
    padding: 0px;
    position: relative;
    left: 0;
    top: 0;
    height: 64vh;
    width: calc(64vh * 1.78);
    z-index: 0;
}

.contact fieldset::before {
    content: "";
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    right: 0;
    bottom: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-image: linear-gradient( 0deg, rgba(0, 0, 0, 0) 0%, rgba(64, 64, 64, 0.2) 0.5%, rgba(64, 64, 64, 0.6) 1%, rgba(64, 64, 64, 0.2) 1.5%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    animation: scan 10s linear 0s infinite;
}

@media screen and (max-width: 1600px) and (max-height: 900px) {
    .contact fieldset {
        height: 62.9vh;
        width: calc(62.9vh * 1.5);
    }
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .contact fieldset {
        height: 56.4vh;
        width: calc(56.4vh * 1.5);
    }
}

@media screen and (max-width: 1280px) and (max-height: 800px) {
    .contact fieldset {
        height: 58vh;
        width: calc(58vh * 1.4);
    }
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
    .contact fieldset {
        height: 56.2vh;
        width: calc(56.2vh * 1.5);
    }
}

@media screen and (max-width: 640px) {
    .contact fieldset {
        width: calc(100vw - 20px);
        height: 60.5vh;
    }
}

@keyframes scan {
    0% {
        opacity: 1;
        background-position: 0 -100vh;
    }
    35%, 100% {
        opacity: 0;
        background-position: 0 100vh;
    }
}

.contact fieldset * {
    color: #FF2E82;
    display: block;
    float: none;
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
    font-weight: 500;
    height: auto;
    letter-spacing: 0.15em;
    line-height: 1.4rem;
    margin: 0;
    padding: 0 0 5px 0;
    position: relative;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .contact fieldset * {
        font-size: 1.2rem;
    }
}

.contact fieldset legend {
    background: linear-gradient(180deg, #000, rgba(0, 0, 0, 0));
    border-bottom: 1px solid #000;
    height: 32px;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.contact fieldset legend span {
    color: rgba(255, 255, 255, 0.6);
    display: none;
    font-family: 'Megrim', cursive;
    font-size: 18px;
    line-height: 32px;
    padding: 0 10px;
    width: 200px;
}

.contact fieldset legend button {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #222;
    border-top: 0 none;
    border-radius: 0 0 4px 0;
    color: #aaa;
    cursor: default;
    font-size: 17px;
    font-family: monospace;
    height: 24px;
    letter-spacing: normal;
    line-height: 26px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 0px;
    width: 24px;
}

.contact fieldset legend .close {
    font-size: 19px;
    line-height: 28px;
}

.contact fieldset legend .minimize {
    border-radius: 0 0 0 4px;
    line-height: 18px;
    right: 66px;
}

.contact fieldset legend .toggle {
    border-radius: 0;
    cursor: pointer;
    right: 43px;
}

.contact fieldset legend button.toggle::before {
    border: 1px solid #aaa;
    content: "";
    height: 8px;
    left: 6px;
    position: absolute;
    top: 8px;
    width: 9px;
}

.contact fieldset legend button.toggle::after {
    background: #aaa;
    content: "";
    height: 2px;
    left: 7px;
    position: absolute;
    top: 9px;
    width: 9px;
}

.contact fieldset form {
    display: block;
    height: calc(100% - 32px);
    overflow: auto;
    padding: 10px 10px 10px 10px;
    position: relative;
    top: 32px;
}

.contact fieldset form input {
    background: transparent;
    border: 0 none;
    color: #a8a8a8;
    display: inline-block;
    padding: 0 8px 0 20px;
    margin: 0 0 15px 0;
    text-transform: lowercase;
    width: 100%;
}

.contact fieldset form button {
    background: rgba(255, 46, 130, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: "Inconsolata", monospace;
    font-size: 1rem;
    font-weight: 800;
    height: 2rem;
    line-height: 1.3rem;
    margin: 15px auto 0;
    max-width: 300px;
    padding: 5px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}

.contact fieldset form .error-message {
    position: absolute;
    color: #fff;
    display: none;
    font-weight: bold;
    top: 50px;
}

.contact fieldset h1 {
    color: #ffc24c;
    font-size: 1.6rem;
    margin: 1.2rem 0 0.6rem;
    padding: 0;
}

.contact fieldset form p {
    color: #fff;
    margin-bottom: 15px;
}

.contact fieldset .sentence {
    position: relative;
}

.contact fieldset .sentence i {
    float: left;
    height: 0;
    left: 0;
    line-height: 0;
    pointer-events: none;
    position: relative;
    top: 10px;
    width: 0;
}

.contact fieldset .next {
    display: none;
}

.contact.maximized {
    overflow: hidden;
}

.contact.maximized fieldset {
    height: 100%;
    left: 0;
    position: fixed;
    top: 25px;
    width: 100%;
    z-index: 9;
}

.contact.maximized fieldset legend span {
    display: inline-block;
}

.contact.maximized fieldset legend button.toggle::before {
    border: 1px solid #aaa;
    background: #000;
    content: "";
    height: 7px;
    left: 7px;
    position: absolute;
    top: 6px;
    width: 9px;
}

.contact.maximized fieldset legend button.toggle::after {
    border: 1px solid #aaa;
    background: #000;
    content: "";
    height: 7px;
    left: 4px;
    position: absolute;
    top: 10px;
    width: 9px;
}

.contact.maximized fieldset form {
    height: calc(100% - 28px);
    overflow: auto;
}

@media screen and (max-width: 768px){
    .contact fieldset h1{ font-size: 1.8rem; }    
    .contact fieldset * { font-size: 1.2rem; }
    .contact fieldset form input + i + div > span { width: 100%; }
}